<?xml version="1.0" encoding="utf-8" ?>
<Argentina>
  <Parametros>
  </Parametros>
  <Ensamblados>
    <Ensamblado id="ENTIDADES_BLL:ConfirmacionFuentesExternasBLL" ClassName="HM.LocalizacionServidor.ES.BLL.ConfirmacionFuentesExternasBLL,HM.LocalizacionServidor.ES" />
    <Ensamblado id="ENTIDADES_BLL:ContratoBLL" ClassName="HM.MMS.Servidor.Comun.BLL.Compra.ContratoBLL,HM.MMS.Servidor.Comun" />
    <Ensamblado id="ENTIDADES_DAL:ClienteDAL" ClassName="HM.MMS.Servidor.Comun.DAL.Maestros.ClienteDAL,HM.MMS.Servidor.Comun" />
    <Ensamblado id="FORMULARIOS:ExploradorFacturacion" ClassName="MPG.Facturacion.AR.ExploradorFacturacion,MPG.Facturacion.AR" />
    <Ensamblado id="FORMULARIOS:MantenimientoOrdenes" ClassName="HM.MMS.Core.Client.View.Ordenes.TV.MantenimientoOrdenes,HM.MMS.Core.Client.View.Ordenes" />
    <Ensamblado id="GESTOR_ESTADOS" ClassName="HM.Localizacion.AR.Estados.GestorEstados,HM.Localizacion.AR" />
    <Ensamblado id="MOTOR_CALCULO" ClassName="HM.Localizacion.AR.Calculo.MotorCalculo,HM.Localizacion.AR" />
    <Ensamblado id="FORMULARIOS:RecalculoOrdenTV" ClassName="HM.MMS.Cliente.Compra.Winforms.Ordenes.RecalculoOrdenTV,HM.MMS.Cliente.Compra" />
    <Ensamblado id="PROCESOS:IProcesoDiaRadio" ClassName="HM.Localizacion.AR.Procesos.ProcesoDiaRadio,HM.Localizacion.AR" />
    <Ensamblado id="PROCESOS:IProcesoEnvioCompraTV" ClassName="HM.Localizacion.AR.Procesos.ProcesoEnvioCompraTV,HM.Localizacion.AR" />
    
    <Ensamblado id="FORMULARIOS:DetalleCampana" ClassName="HM.MMS.Cliente.Compra.AR.Winforms.Campanas.DetalleCampana, HM.MMS.Cliente.Compra.AR" />
  </Ensamblados>
</Argentina>